{% extends 'base/base.html' %}

{% block body %}
	<div id="container" class="effect mainnav-lg navbar-fixed">

		<!--NAVBAR-->
		<!--===================================================-->
		<header id="navbar">
			<div id="navbar-container" class="boxed">

				<!--Brand logo & name-->
				<!--================================-->
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand">
						<img src="/static/img/logo.png" alt="Nifty Logo" class="brand-icon">
						<div class="brand-title">
							<span class="brand-text">小程序后台管理</span>
						</div>
					</a>
				</div>
				<!--================================-->
				<!--End brand logo & name-->


				<!--Navbar Dropdown-->
				<!--================================-->
				<div class="navbar-content clearfix">
					<ul class="nav navbar-top-links pull-left">

						<!--Navigation toogle button-->
						<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
						<li class="tgl-menu-btn">
							<a class="mainnav-toggle" href="#">
								<i class="fa fa-navicon fa-lg"></i>
							</a>
						</li>
						<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
						<!--End Navigation toogle button-->


					</ul>
					<ul class="nav navbar-top-links pull-right">

						<!--User dropdown-->
						<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
						<li id="dropdown-user" class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
{#								<span class="pull-right">#}
{#									<img class="img-circle img-user media-object" src="/static/img/av1.png" alt="Profile Picture">#}
{#								</span>#}

								<div class="username hidden-xs">
                                    {{ user }}
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                </div>

							</a>

							<div class="dropdown-menu dropdown-menu-right ">
								<!-- User dropdown menu -->
								<ul class="head-list">
									<li>
										<a data-toggle="modal" data-target="#Modal" href="#">
                                            <i class="fa fa-gear fa-fw fa-lg"></i>
                                            更改密码
										</a>
									</li>
									<li>
										<a data-toggle="modal" data-target="#exampleModal" href="#">
											<i class="fa fa-user fa-fw fa-lg"></i>
                                            添加管理员
										</a>
									</li>
                                    <li>
										<a href="{% url 'logout' %}">
                                            <i class="fa fa-times fa-fw fa-lg"></i>
                                            退出登录
										</a>
									</li>
								</ul>


							</div>
						</li>
						<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
						<!--End user dropdown-->
					</ul>
				</div>
				<!--================================-->
				<!--End Navbar Dropdown-->
			</div>
		</header>
		<!--===================================================-->
		<!--END NAVBAR-->

		<div class="boxed">
			<!--CONTENT CONTAINER-->
			<!--===================================================-->
			<div id="content-container">

				<!--Page Title-->
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<div id="page-title">
					<h1 class="page-header text-overflow"></h1>

					<!--Searchbox-->
					<div class="searchbox">
						<div class="input-group custom-search-form">
							<input type="text" class="form-control" placeholder="搜索..">
							<span class="input-group-btn">
								<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</div>
				</div>
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<!--End page title-->


				<!--Breadcrumb-->
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                {% block breadcrumb  %}

                {% endblock %}
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<!--End breadcrumb-->


				<!--Page content-->
				<!--===================================================-->
	            <div id="page-content">
                    <!--更改密码-->
                    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exampleModalLabel">更改密码</h4>
                                </div>
                                <div class="modal-body">
                                <form id="changepassword">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">旧密码</label>
                                        <span style="color: red;">*</span>
                                        <input type="password" class="form-control" name="old_password">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">新密码</label>
                                        <span style="color: red;">*</span>
                                        <input type="password" class="form-control" name="new_password">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">确认新密码</label>
                                        <span style="color: red;">*</span>
                                        <input type="password" class="form-control" name="repeat_password">
                                    </div>

                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-default" data-dismiss="modal" value="取消">
{#                                        <input type="submit" onclick="fun()" class="btn btn-primary" value="添加">#}
                                        <a id="SetPassword" class="btn btn-primary" >添加</a>
                                    </div>
                                </form>
                                </div>
                            </div>
                          </div>
                        </div>

                    <!--添加管理员-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exampleModalLabel">添加管理员</h4>
                                </div>
                                <div class="modal-body">
                                <form method="get">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">用户名</label>
                                        <span style="color: red;">*</span>
                                        <input type="text" class="form-control" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">密码</label>
                                        <span style="color: red;">*</span>
                                        <input type="text" class="form-control" name="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">确认密码</label>
                                        <span style="color: red;">*</span>
                                        <input type="text" class="form-control" name="repeat_password">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">邮箱</label>
                                        <input type="text" class="form-control" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">权限分配</label>
                                        <span style="color: red;">*</span>
                                        <p>
                                            <span style="margin-right: 5px">用户</span><input value="用户" style="vertical-align: -2px;" type="checkbox" name="permission">
                                            <span style="margin-right: 5px">文章</span><input value="文章" style="vertical-align: -2px;" type="checkbox" name="permission">
                                            <span style="margin-right: 5px">公告</span><input value="公告" style="vertical-align: -2px;" type="checkbox" name="permission">
                                            <span style="margin-right: 5px">报装</span><input value="报装" style="vertical-align: -2px;" type="checkbox" name="permission">
                                            <span style="margin-right: 5px">报修</span><input value="报修" style="vertical-align: -2px;" type="checkbox" name="permission">
                                        </p>
                                    </div>

                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-default" data-dismiss="modal" value="取消">
                                        <input type="submit" class="btn btn-primary" value="添加">
                                    </div>
                                </form>
                                </div>

                            </div>
                          </div>
                        </div>
                    {% block page-content %}

                    {% endblock %}
                </div>
			</div>
			<!--===================================================-->
			<!--END CONTENT CONTAINER-->

			<!--MAIN NAVIGATION-->
			<!--===================================================-->
			<nav id="mainnav-container">
				<div id="mainnav">
					<!--Shortcut buttons-->
					<!--================================-->
					<div id="mainnav-shortcut">
						<ul class="list-unstyled">
							<li class="col-xs-4" data-content="1">
								<a class="shortcut-grid" href="">
									<i class="fa fa-book"></i>
								</a>
							</li>
							<li class="col-xs-4" data-content="2">
								<a class="shortcut-grid" href="">
									<i class="fa fa-wrench"></i>
								</a>
							</li>
							<li class="col-xs-4" data-content="3">
								<a class="shortcut-grid" href="">
									<i class="fa fa-times"></i>
								</a>
							</li>
						</ul>
					</div>
					<!--================================-->
					<!--End shortcut buttons-->

					<!--Menu-->
					<!--================================-->
					<div id="mainnav-menu-wrap">
						<div class="nano">
							<div class="nano-content">
								<ul id="mainnav-menu" class="list-group">
									<!--Category name-->
									<li class="list-header">菜单栏</li>
									<!--Menu list item-->
                                    <li class="active-link">
										<a href="/backend">
											<i class="fa fa-plane"></i>
											<span class="menu-title">首页</span>
										</a>
									</li>
                                    <li class="">
										<a href="{% url 'users_list' %}">
											<i class="fa fa-plane"></i>
											<span class="menu-title">普通用户</span>
										</a>
									</li>
                                    <li class="">
										<a href="{% url 'reporting_list' %}">
											<i class="fa fa-plane"></i>
											<span class="menu-title">报装管理</span>
										</a>
									</li>
                                    <li class="">
										<a href="{% url 'repair_list' %}">
											<i class="fa fa-plane"></i>
											<span class="menu-title">报修管理</span>
										</a>
									</li>
                                    <li class="">
										<a href="{% url 'superusers_list' %}">
											<i class="fa fa-plane"></i>
											<span class="menu-title">关联用户</span>
										</a>
									</li>
									<!--Menu list item-->
                                    <li class="list-divider"></li>
									<!--Category name-->
									<li class="list-header">信息站</li>
                                    <!--Category name-->
                                    <li>
										<a href="#">
											<i class="fa fa-taxi"></i>
											<span class="menu-title">
												<strong>文章管理</strong>
											</span>
											<i class="arrow"></i>
										</a>
										<!--Submenu-->
										<ul class="collapse">
											<li><a href="{% url 'articles_list' %}">文章列表</a></li>
										</ul>
									</li>
                                    <li>
										<a href="#">
											<i class="fa fa-taxi"></i>
											<span class="menu-title">
												<strong>公告管理</strong>
											</span>
											<i class="arrow"></i>
										</a>
										<!--Submenu-->
										<ul class="collapse">
											<li><a href="{% url 'infomation_list' %}">公告列表</a></li>
										</ul>
									</li>

								</ul>

								<!--Widget-->
								<!--================================-->
								<div class="mainnav-widget">
									<!-- Show the button on collapsed navigation -->
									<div class="show-small">
										<a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
											<i class="fa fa-desktop"></i>
										</a>
									</div>

								</div>
								<!--================================-->
								<!--End widget-->
							</div>
						</div>
					</div>
					<!--================================-->
					<!--End menu-->
				</div>
			</nav>
			<!--===================================================-->
			<!--END MAIN NAVIGATION-->
		</div>

        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">
            <!-- Visible when footer positions are static -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="hide-fixed pull-right pad-rgt">Currently v1</div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Remove the class name "show-fixed" and "hide-fixed" to make the content always appears. -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <p class="pad-lft">&#0169; 2015 Your Company</p>

        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL TOP BUTTON -->
        <!--===================================================-->
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
        <!--===================================================-->

	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->
    <script src="/static/js/index.js"></script>
{% endblock %}
