{% extends 'base/index.html' %}

{% block title %}
    <title>文章管理</title>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb" style="font-size: 18px">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li><a style="color: grey;font-size: 25px;" href="javascript:;">文章列表</a></li>
    </ol>
{% endblock %}

{% block page-content %}
    <div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>文章标题</th>
                    <th>文章内容</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for article in article_list %}
                    <tr id="{{ article.id }}">
                        <td style="width: 5%;">
                            <input type="checkbox">
                        </td>
                        <td style="width: 15%;">{{ article.title }}</td>
                        <td style="width: 55%;">{{ article.content }}</td>
                        <td style="width: 15%;">{{ article.createtime|date:"Y-m-d H:i:s" }}</td>
                        <td style="width: 10%;">
                            <a href="/backend/articles/edit/{{ article.id }}/">编辑</a> |
                            <a href="/backend/articels/delete/{{ article.id }}/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}