{% extends 'base/index.html' %}
{% block title %}
    <title>公告管理</title>
    <style>
        .b-group{
            margin: 20px 0 20px 0;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb" style="font-size: 18px">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li><a style="color: grey;font-size: 25px;" href="javascript:;">公告列表</a></li>
    </ol>
{% endblock %}

{% block page-content %}
    <div>
        <div class="btn-group pull-right b-group" >
            <button id="checkAll" type="button" class="btn btn-default">全选</button>
            <button id="reverselAll" type="button" class="btn btn-default">反选</button>
            <button id="cancelAll" type="button" class="btn btn-default">取消</button>
            <button id="statusBtn" type="button" class="btn btn-success">编辑</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">删除</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-body">
                        <center><h3>您确定要删除所选择的信息吗？</h3></center>
                    </div>
                  <div class="modal-footer">
                    <button id="cancelDel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="delBtn" type="button" class="btn btn-danger">删除</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead id="table_th">
                <tr>
                    <th>选择</th>
                    <th>标题</th>
                    <th>内容</th>
                    <th>发布者</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="table_tb">
                {% for info in infomation %}
                    <tr id="{{ article.id }}">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>{{ info.title }}</td>
                        <td>{{ info.content }}</td>
                        <td>{{ info.pulisher }}</td>
                        <td>{{ info.createtime }}</td>
                        <td>
                            <a href="/backend/infomation/edit/{{ info.id }}">编辑</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block extra-bottom-js %}


{% endblock %}
