{% extends 'base/index.html' %}
{% block title %}
    <title>报装添加</title>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb" style="font-size: 18px">
        <li class=""><a href="{% url 'index' %}">首页</a></li>
        <li class=""><a href="{% url 'reporting_list' %}">报装管理</a></li>
        <li><a style="color: grey;" href="javascript:;">报装添加</a></li>
    </ol>
{% endblock %}

{% block page-content %}
    <div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>报装类型</label>
                {{ obj.type }}
                <p style="color: red;">{{ obj.type.errors.0 }}</p>
            </div>
            <div class="form-group">
                <label>报装人</label>
                {{ obj.user }}
                <p style="color: red;">{{ obj.user.errors.0 }}</p>
            </div>
            <div class="form-group">
                <label>备注</label>
                {{ obj.remark }}
                <p style="color: red;">{{ obj.remark.errors.0 }}</p>
            </div>
            <div class="form-group">
                <label>状态</label>
                {{ obj.status }}
                <p style="color: red;">{{ obj.status.errors.0 }}</p>
            </div>
            <input type="submit" class="btn btn-primary pull-right" value="提交" />
        </form>
    </div>
{% endblock %}

{% block extra-bottom-js %}

{% endblock %}