{% extends 'base/index.html' %}
{% block title %}
    <title>文章管理</title>
    <style>

    </style>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb" style="font-size: 18px">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li><a style="color: grey;font-size: 25px;" href="javascript:;">报装列表</a></li>
    </ol>
{% endblock %}

{% block page-content %}
    <div>
        <div class="btn-group pull-right b-group" >
            <button id="checkAll" type="button" class="btn btn-default">全选</button>
            <button id="reverselAll" type="button" class="btn btn-default">反选</button>
            <button id="cancelAll" type="button" class="btn btn-default">取消</button>
            <button id="statusBtn" type="button" class="btn btn-success">设置为已处理</button>
            <button id="delBtn" type="button" class="btn btn-danger">删除</button>
        </div>

        <table class="table table-striped">
            <thead id="table_th">
                <tr>
                    <th>选择</th>
                    <th>报装类型</th>
                    <th>报装人</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody id="table_tb">
                {% for reporting in reporting_all %}
                    <tr id="{{ reporting.id }}">
                        <td style="width:5%">
                            <input type="checkbox">
                        </td>
                        <td>{{ reporting.type }}</td>
                        <td>{{ reporting.user }}</td>
                        <td style="width:20%">{{ reporting.remark }}</td>
                        <td>{{ reporting.createtime|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ reporting.get_status_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block extra-bottom-js %}
    <script src="/static/js/reporting_list.js"></script>
{% endblock %}