{% extends 'base/index.html' %}
{% block title %}
    <title>关联用户管理</title>
    <style>
        .b-group{
            margin: 20px 0 20px 0;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb" style="font-size: 18px">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li><a style="color: grey;font-size: 25px;" href="javascript:;">关联用户列表</a></li>
    </ol>
{% endblock %}

{% block page-content %}
    <div>
        <div class="btn-group pull-right b-group" >
            <button id="checkAll" type="button" class="btn btn-default">全选</button>
            <button id="reverselAll" type="button" class="btn btn-default">反选</button>
            <button id="cancelAll" type="button" class="btn btn-default">取消</button>
            <button id="importAll" type="button" class="btn btn-success">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;
                批量导入
            </button>
            <button id="delBtn" type="button" class="btn btn-danger">删除</button>
        </div>

        <table class="table table-striped">
            <thead id="table_th">
                <tr>
                    <th>选择</th>
                    <th>公司名称</th>
                    <th>用户名</th>
                    <th>手机</th>
                </tr>
            </thead>
            <tbody id="table_tb">
                {% for superuser in superusers_all %}
                    <tr id="{{ superuser.id }}">
                        <td style="width:5%">
                            <input type="checkbox">
                        </td>
                        <td>{{ superuser.company }}</td>
                        <td>{{ superuser.username }}</td>
                        <td>{{ superuser.phone }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block extra-bottom-js %}
    <script src="/static/js/superusers_list.js"></script>
{% endblock %}
