{% extends 'base/index.html' %}
{% block title %}
    <title>用户管理</title>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb" style="font-size: 18px">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li><a style="color: grey;font-size: 25px;" href="javascript:;">普通用户列表</a></li>
    </ol>
{% endblock %}

{% block page-content %}
    <div>
        <div class="btn-group pull-right b-group" >
            <button id="checkAll" type="button" class="btn btn-default">全选</button>
            <button id="reverselAll" type="button" class="btn btn-default">反选</button>
            <button id="cancelAll" type="button" class="btn btn-default">取消</button>
            <button id="superBtn" type="button" class="btn btn-success">通过认证</button>
            <button id="delBtn" type="button" class="btn btn-danger">删除</button>

        </div>

        <table class="table table-striped">
            <thead id="table_th">
                <tr>
                    <th>选择</th>
                    <th>用户名</th>
                    <th>公司名称</th>
                    <th>大厦</th>
                    <th>楼层</th>
                    <th>房间</th>
                    <th>手机</th>
                    <th>用户认证</th>
                </tr>
            </thead>
            <tbody id="table_tb">
                {% for user in users_all %}
                    <tr id="{{ user.id }}">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.company }}</td>
                        <td>{{ user.get_building_display }}</td>
                        <td>{{ user.get_floor_display }}</td>
                        <td>{{ user.room }}</td>
                        <td>{{ user.phone }}</td>
                        <td>
                            {% if user.is_superuser %}
                                是
                            {% else %}
                                否
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block extra-bottom-js %}
<script>
    $(function () {
        bindCheckAll();
        bindReverselAll();
        bindCancelAll();
        bindIsSuper();
        bindDelBtn();
    });

    // 全选
    function bindCheckAll() {
        $('#checkAll').click(function () {
            $('#table_tb').find(':checkbox').each(function () {
               if($(this).prop('checked')){
                   // 已经是选中了，无需再选中
               }else {
                   $(this).prop('checked',true);
               }
            });
        });
    }
    // 反选
    function bindReverselAll() {
        $('#reverselAll').click(function () {
            $('#table_tb').find(':checkbox').each(function () {
               if($(this).prop('checked')){
                   $(this).prop('checked',false);
               }else {
                   $(this).prop('checked',true);
               }
            });
        });
    }
    // 取消
    function bindCancelAll() {
        $('#cancelAll').click(function () {
            $('#table_tb').find(':checked').each(function () {
                $(this).prop('checked',false);
                if($('#editBtn').hasClass('btn-warning')){
                    $(this).prop('checked',false);
                    trOutEditMode($(this).parent().parent());
                }
            })
        });
    }
    // 通过认证
    function bindIsSuper() {
        $("#superBtn").click(function () {
            csrftoken();
            var postList = [];
            var tr = $(":checked").parent().parent();
            if(tr.length != 0){
                tr.each(function(){
                    postList.push($(this).attr('id'));      // 选择的id
                });
                //console.log(postList);                       // [1,2,3]

                if(postList != ''){
                    $.ajax({
                    url: '/backend/users/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: JSON.stringify(postList),
                    success:function (arg) {
                        if(arg.status){
                            alert(arg.msg);
                            window.location.reload();
                        }else {
                            alert(arg.msg);
                        }
                    }
                });
                }
            }else{
                alert('请选择要设置的用户')
            }
        });
    }
    // 删除
    function bindDelBtn() {
        $("#delBtn").click(function () {
            var mymessage=confirm("您确定要删除所选择的用户吗?");
            if(mymessage==true){
                csrftoken();
                var postList = [];
                var tr = $(":checked").parent().parent();
                if(tr.length != 0){
                    tr.each(function(){
                        postList.push($(this).attr('id'));      // 选择的id
                    });
                    //console.log(postList);                       // [1,2,3]

                    if(postList != ''){
                        $.ajax({
                        url: '/backend/users/delete/',
                        type: 'POST',
                        dataType: 'JSON',
                        data: JSON.stringify(postList),
                        success:function (arg) {
                            if(arg.status){
                                alert(arg.msg);
                                window.location.reload();
                            }else {
                                alert(arg.msg);
                            }
                        }
                    });
                    }
                }else{
                    alert('请选择要设置的用户')
                }
            }
        });
    }

    function csrftoken() {
        /*********** csrftoken开始****************/
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        /*********** csrftoken结束****************/
    }
</script>

{% endblock %}
